.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 200ms ease;
}
.modal__hidden {
  transform: scale(0);
}
.modal__int {
  background-color: rgb(8, 32, 58);
  color: var(--white-color);
  padding: 2em 1.5em 3em;
  border-radius: 0.8em;
  width: 100%;
  max-width: 20em;
}
.modal__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-size: 1.1em;
} 
.modal__text {
  text-align: center;
  color: #aaa;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 1em;
}
.modal__resultado {
  color: green;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 0.8em;
  &.modal__red {
    color: red;
  }
}
.modal__stats {
  --color-selected: green;
  display: grid;
  gap: 0.5em;
  padding-bottom: 1em;
  &.modal__red {
    --color-selected: rgb(190, 46, 46);
  }
}
.modal__stat {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.modal__stat__label {
  color: var(--white-color);
  font-size: 0.8em;
  width: 4.8em;
  text-align: center;
}
.modal__stat__value {
  flex: 1;
  height: 1.7em;
  border: 0.5px solid var(--light-blue);
  border-radius: 0.4em;
  overflow: hidden;
}
.modal__stat__bar {
  width: 100%;
  background-color: green;
  height: 100%;
}
.modal__error {
  background-color: rgb(190, 46, 46)
}
.modal__stat__number {
  width: 1em;
  color: var(--white-color);
  font-weight: 900;
}
.modal__btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  user-select: none;
}
.modal__btn {
  background-color: green;
  color: white;
  padding: 1em 2em;
  border-radius: 0.5em;
  font-size: 1em;
  border: none;
  cursor: pointer;
  transition: transform 100ms ease;
  &:hover {
    filter: brightness(1.1);
    transform: scale(1.04)
  }
  &.modal__red {
    background-color: red;
  }
}