.title {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--white-color);
  margin-top: 2em;
}
.box {
  margin: 2em auto 0;
  display: grid;
  width: max-content;
  gap: 0.7em;
}
.word {
  display: flex;
  gap: 0.3em;
}
.letter {
  position: relative;
  width: 2em;
  aspect-ratio: 1;
  border: 1px solid var(--dark-blue);
  cursor: pointer;
  color: white;
  font-size: 2em;
  font-weight: 600;
  &:hover {
    filter: brightness(1.1);
  }
}
.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 1000ms ease;
}
.front {
  transform: perspective(500px) rotateX(0deg);
  background-color: var(--dark-color);
}
.back {
  transform: perspective(500px) rotateX(180deg);
}
.letterActive {
  outline: 1px solid var(--light-blue);
}
.resultado {
  margin-top: 2em;
  text-align: center;
  color: white;
}
.resultado__gratz {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  color: inherit;
}
.resultado__phrase {
  font-size: 1.2em;
  color: #aaa;
  font-weight: 300;
}
.resultado__word {
  font-size: 2em;
  color: green;
  &.notfound {
    color: red;
  }
}
.input-hidden {
  position: absolute;
  top: -10000em;
}

.teclado {
  margin-top: 2em;
  display: grid;
  gap: 0.4em;
  justify-content: center;
  width: 100%;
  max-width: 25em;
  margin-left: auto;
  margin-right: auto;
}
.teclado__row1,
.teclado__row2,
.teclado__row3 {
  display: grid;
  grid-template-columns: repeat(110, 1fr);
  gap: 0.22em;
}
.teclado__row3 .tecla {
  grid-column: span 10;
}
.tecla {
  background-color: #aaa;
  font-weight: 700;
  text-transform: uppercase;
  display: grid;
  place-content: center;
  border-radius: 0.2em;
  cursor: pointer;
  grid-column: span 11;
  height: 3em;
  background-color: rgb(63, 71, 82);
  color: white;
  & img {
    width: 50%;
    margin: 0 auto;
    color: white;
  }
  &:hover {
    filter: brightness(1.2);
  }
}
.teclado__row3 .enter,
.teclado__row3 .backspace {
  grid-column: span 20;
}
.backspace {
  order: 1;
}
.no {
  background-color: #2a2a2ae0;
  color: white;
}
.imperfect {
  background-color: rgb(182, 161, 26);
  color: white;
}
.perfect {
  background-color: rgb(44, 128, 44);
  color: white;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 0.8em
  }
}